{% extends "index.html" %}
{% block title %}QuantumMedical / Сервисы{% endblock %}

{% block nav %}
    {% include "nav.html" %}
{% endblock %}

{% block content %}

    <div class="row h-100" style="padding-top: 55px">
        <div class="position-relative overflow-hidden p-3 p-md-5 text-center d-none d-md-block"
             style="background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url('../../media/img/doctor_s.png'); background-size: auto 100%; background-position: left; background-repeat: no-repeat; height: 500px;">
            {#            <div class="col-md-6 p-lg-5 mx-auto my-5">#}
            <div class="col-md-6 my-5 ms-auto">
                <h1 class="display-3 fw-bold text-primary">QuantumMedical</h1>
                <h3 class="fw-normal mb-3">Ваше здоровье - наш главный приоритет</h3>
                <div class="fw-normal mb-3">
                    Мы предлагаем широкий спектр медицинских услуг, используя современное оборудование и
                    инновационные
                    методы лечения. Наша команда высококвалифицированных специалистов готова позаботиться о вашем
                    здоровье.
                </div>
                <div class="d-flex gap-3 justify-content-center lead fw-normal">
                    <a class="btn btn-outline-primary" href="#">Записаться на прием</a>
                    <a class="btn btn-outline-primary" href="#">Узнать больше</a>
                </div>
            </div>
        </div>

        <div class="position-relative overflow-hidden p-3 p-md-5 text-center d-md-none"
             style="background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url(''); background-size: auto 100%; background-position: right; background-repeat: no-repeat; height: 300px;">
            <div class="col-md-6">
                {#            <div class="col-md-6 p-lg-5 mx-auto my-5">#}
                <h1 class="display-3 fw-bold text-primary">QuantumMedical</h1>
                <h3 class="fw-normal mb-3">Ваше здоровье - наш главный приоритет</h3>
                <div class="fw-normal mb-3">
                    Мы предлагаем широкий спектр медицинских услуг, используя современное оборудование и
                    инновационные
                    методы лечения. Наша команда высококвалифицированных специалистов готова позаботиться о вашем
                    здоровье.
                </div>
                <div class="d-flex gap-3 justify-content-center lead fw-normal">
                    <a class="btn btn-outline-primary" href="#">Записаться на прием</a>
                    <a class="btn btn-outline-primary" href="#">Узнать больше</a>
                </div>
            </div>
        </div>
    </div>



    <div class="row py-5">
        <div class="container px-4 py-5">
            <h2 class="pb-2 text-center text-primary">Наши направления</h2>
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 py-5">
                <div class="col">
                    <div class="card h-100 border-0">
                        <div class="card-body">
                            <div class="feature-icon d-inline-block text-primary mb-3">
                                <i class="bi bi-heart-pulse-fill fs-2"></i>
                            </div>
                            <h3 class="card-title">Диагностика</h3>
                            <p class="card-text">Комплексное обследование с использованием современного оборудования
                                для точной диагностики заболеваний.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100 border-0">
                        <div class="card-body">
                            <div class="feature-icon d-inline-block text-primary mb-3">
                                <i class="bi bi-clipboard2-pulse-fill fs-2"></i>
                            </div>
                            <h3 class="card-title">Лечение</h3>
                            <p class="card-text">Индивидуальный подход к лечению с применением современных методик и
                                препаратов.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100 border-0">
                        <div class="card-body">
                            <div class="feature-icon d-inline-block text-primary mb-3">
                                <i class="bi bi-shield-fill-check fs-2"></i>
                            </div>
                            <h3 class="card-title">Профилактика</h3>
                            <p class="card-text">Программы профилактики заболеваний и укрепления здоровья для всей
                                семьи.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <h1 class="text-center mb-4 text-primary">Наши услуги</h1>
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Название услуги</th>
                    <th>Длительность</th>
                    <th>Стоимость</th>
                    <th class="text-center">Действия</th>
                </tr>
                </thead>
                <tbody>
                {% for department in departments %}
                    <tr>
                        <td class="text-primary" colspan="4"><strong>{{ department }}</strong></td>
                    </tr>
                    {% for service in  services %}
                        {% if service.department == department %}
                            <tr class="fw-light">
                                <td>{{ service.name }}</td>
                                <td>{% if service.duration %}{{ service.duration }} мин.{% else %}не
                                    указана{% endif %}</td>
                                <td>{{ service.price }} ₽</td>
                                <td>
                                    <div class="btn-group d-flex justify-content-center" role="group">
                                        <a href="#" class="btn btn-sm btn-outline-primary">Записаться</a>
                                        <a href="{{ service.id }}"
                                           class="btn btn-sm btn-outline-secondary">Подробнее</a>
                                    </div>
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}

{% block footer %}
    {% include "footer.html" %}
{% endblock %}
