<footer class="row py-5 border-top mt-5">
    <div class="col-md-3 mb-3">
        <h5>О сайте</h5>
        <ul class="nav flex-column">
            <li class="nav-item mb-2">
                <span class="text-body-secondary">© 2025 QuantumMedical</span>
            </li>
            <li class="nav-item mb-2">
                <span class="text-body-secondary">Разработано:</span>
                <a href="https://github.com/VladimirSulym/" class="nav-link p-0 text-body-secondary d-inline"
                   target="_blank">Сулым
                    Владимир</a>
            </li>
        </ul>
        <h5 class="pt-2">Карта сайта</h5>
        <ul class="nav flex-column">
            <li class="nav-item mb-2">
                <a href="#" class="nav-link p-0 text-body-secondary">Главная</a>
            </li>
            <li class="nav-item mb-2">
                <a href="#" class="nav-link p-0 text-body-secondary">Услуги</a>
            </li>
            <li class="nav-item mb-2">
                <a href="#" class="nav-link p-0 text-body-secondary">О компании</a>
            </li>
            <li class="nav-item mb-2">
                <a href="#" class="nav-link p-0 text-body-secondary">Личный кабинет</a>
            </li>
            <li class="nav-item mb-2">
                <a href="#" class="nav-link p-0 text-body-secondary">Контакты</a>
            </li>
        </ul>
    </div>
    <div class="col-md-3 mb-3">
        <h5>Контакты</h5>
        <ul class="nav flex-column">
            <li class="nav-item mb-2">
                <i class="bi bi-telephone"></i>&nbsp;&nbsp;<a href="tel:+74951234567"
                                                              class="nav-link p-0 text-body-secondary d-inline">+7
                (495)
                123-45-67</a>
            </li>
            <li class="nav-item mb-2">
                <i class="bi bi-envelope"></i>&nbsp;&nbsp;
                <a href="mailto:info@quantummedical.ru" class="nav-link p-0 text-body-secondary d-inline">info@quantmed.ru</a>
            </li>
            <li class="nav-item mb-2">
                <i class="bi bi-geo-alt"></i>&nbsp;&nbsp;
                <span class="text-body-secondary d-inline">г. Москва, ул. Медицинская, д. 1</span>
            </li>
        </ul>
    </div>
    <div class="col-md-3 mb-3">
        <h5>Режим работы</h5>
        <ul class="nav flex-column">
            <li class="nav-item mb-2">
                <span class="text-body-secondary">Пн-Пт: 7:00 - 19:00</span>
            </li>
            <li class="nav-item mb-2">
                <span class="text-body-secondary">Сб: 7:00 - 19:00</span>
            </li>
            <li class="nav-item mb-2">
                <span class="text-body-secondary">Вс: 7:00 - 19:00</span>
            </li>
        </ul>
    </div>
    <div class="col-md-3 mb-3">
        <h5>Реквизиты</h5>
        <ul class="nav flex-column">
            <li class="nav-item mb-2">
                <span class="text-body-secondary">ООО "QuantumMedical"</span>
            </li>
            <li class="nav-item mb-2">
                <span class="text-body-secondary">ИНН: 7700123456</span>
            </li>
            <li class="nav-item mb-2">
                <span class="text-body-secondary">ОГРН: 1234567890123</span>
            </li>
            <li class="nav-item mb-2">
                <span class="text-body-secondary">р/с: 40702810123450987654 в ПАО Сбербанк</span>
            </li>
            <li class="nav-item mb-2">
                <span class="text-body-secondary">к/с: 30101810400000000225</span>
            </li>
            <li class="nav-item mb-2">
                <span class="text-body-secondary">БИК: 044525225</span>
            </li>
        </ul>
    </div>
</footer>