<nav class="navbar bg-body fixed-top">
    <div class="container">
        <button class="btn me-auto" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
                aria-controls="offcanvasNavbar" aria-label="Переключить навигацию">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand me-2" href="#">Вход | Регистрация</a>
        <button class="btn" type="button" id="darkModeToggle">
            <i class="bi bi-moon-fill"></i>
        </button>
        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar"
             aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title text-primary" id="offcanvasNavbarLabel">QuantumMedical</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Закрыть"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url "services:home" %}">Главная</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url "services:services" %}">Услуги</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url "users:about" %}">О компании</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Личный кабинет</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Контакты</a>
                    </li>
                    {% if user.is_staff %}
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page"
                               href="{% url 'admin:index' %}">Админка</a>
                        </li>
                    {% endif %}
                </ul>
                {#                    <form class="d-flex mt-3" role="search">#}
                {#                        <input class="form-control me-2" type="search" placeholder="Поиск" aria-label="Поиск">#}
                {#                        <button class="btn btn-outline-success" type="submit">Поиск</button>#}
                {#                    </form>#}
            </div>
        </div>
    </div>
</nav>

