{% extends "index.html" %}
{% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body {
            background-color: #f8f9fa;
        }

        .hover-shadow:hover {
            box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
            transition: all 0.3s ease-in-out;
        }
    </style>
    <meta name="robots" content="noindex, nofollow">
    <title>{% block title %}QuantumMedical / {{ service.name }}{% endblock %}</title>
    <link href="../../staticfiles/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    {#    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"#}
    {#          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">#}
    <script src="../../staticfiles/js/jquery-3.7.1.min.js"></script>
    <link rel="stylesheet" href="../../staticfiles/css/style.css">
{% endblock %}
{% block title_page %}<h4 class="text-info p-0">Сделки</h4>{% endblock %}

{% block nav %}
    {% include "nav.html" %}
{% endblock %}

{% block content %}

    <div class="container mt-5 pt-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card shadow-lg border-0 rounded-3 hover-shadow">
                    <div class="card-header">
                        <h3 class="mb-0">Редактирование профиля</h3>
                    </div>
                    <div class="card-body p-4">

                        {% if form.errors %}
                            <div class="alert alert-danger">
                                {% for field in form %}
                                    {% for error in field.errors %}
                                        <p class="mb-0">{{ field.label }}: {{ error }}</p>
                                    {% endfor %}
                                {% endfor %}
                            </div>
                        {% endif %}

                        {% if form.non_field_errors %}
                            <div class="alert alert-danger">
                                {% for error in form.non_field_errors %}
                                    {{ error }}
                                {% endfor %}
                            </div>
                        {% endif %}

                        {% if messages %}
                            <div class="messages">
                                {% for message in messages %}
                                    <div class="alert alert-{{ message.tags }}">
                                        {{ message }}
                                    </div>
                                {% endfor %}
                            </div>
                        {% endif %}


                        <form method="post">
                            {% csrf_token %}
                            <div class="row g-3">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="last_name" class="form-label text-primary fw-bold">
                                            <i class="bi bi-person me-2"></i>Фамилия
                                        </label>
                                        <input type="text" class="form-control shadow-sm" id="last_name"
                                               name="last_name"
                                               value="{{ user.last_name }}">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="first_name" class="form-label text-primary fw-bold">
                                            <i class="bi bi-person me-2"></i>Имя
                                        </label>
                                        <input type="text" class="form-control shadow-sm hover-shadow" id="first_name"
                                               name="first_name"
                                               value="{{ user.first_name }}">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="middle_name" class="form-label text-primary fw-bold">
                                            <i class="bi bi-person me-2"></i>Отчество
                                        </label>
                                        <input type="text" class="form-control shadow-sm hover-shadow" id="middle_name"
                                               name="middle_name"
                                               value="{{ user.middle_name }}">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="email" class="form-label text-primary fw-bold">
                                            <i class="bi bi-envelope me-2"></i>Email
                                        </label>
                                        <input type="email" class="form-control shadow-sm hover-shadow" id="email"
                                               name="email"
                                               value="{{ user.email }}">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="phone" class="form-label text-primary fw-bold">
                                            <i class="bi bi-telephone me-2"></i>Телефон
                                        </label>
                                        <input type="tel" class="form-control shadow-sm hover-shadow" id="phone"
                                               name="phone"
                                               value="{{ user.phone }}">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="gender" class="form-label text-primary fw-bold">
                                            <i class="bi bi-gender-ambiguous me-2"></i>Пол
                                        </label>
                                        <select class="form-select shadow-sm hover-shadow" id="gender" name="gender">
                                            <option value="">Выберите пол</option>
                                            <option value="M" {% if user.gender == 'M' %}selected{% endif %}>Мужской
                                            </option>
                                            <option value="F" {% if user.gender == 'F' %}selected{% endif %}>Женский
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="birth_date" class="form-label text-primary fw-bold">
                                            <i class="bi bi-calendar-date me-2"></i>Дата рождения
                                        </label>
                                        <input type="date" class="form-control shadow-sm hover-shadow" id="birth_date"
                                               name="birth_date"
                                               value="{{ user.birth_date|date:'Y-m-d' }}">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <label for="address" class="form-label text-primary fw-bold">
                                            <i class="bi bi-geo-alt me-2"></i>Адрес
                                        </label>
                                        <input type="text" class="form-control shadow-sm hover-shadow" id="address"
                                               name="address"
                                               value="{{ user.address }}">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="insurance_policy" class="form-label text-primary fw-bold">
                                            <i class="bi bi-file-medical me-2"></i>Номер страхового полиса
                                        </label>
                                        <input type="text" class="form-control shadow-sm hover-shadow"
                                               id="insurance_policy"
                                               name="insurance_policy" value="{{ user.insurance_policy }}">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="document" class="form-label text-primary fw-bold">
                                            <i class="bi bi-person-vcard me-2"></i>Документ
                                        </label>
                                        <input type="text" class="form-control shadow-sm hover-shadow" id="document"
                                               name="document"
                                               value="{{ user.document }}">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="telegram" class="form-label text-primary fw-bold">
                                            <i class="bi bi-telegram me-2"></i>Telegram
                                        </label>
                                        <input type="text" class="form-control shadow-sm hover-shadow" id="telegram"
                                               name="telegram"
                                               value="{{ user.telegram }}">
                                    </div>
                                </div>
                            </div>
                            <div class="mt-4 d-flex justify-content-end">
                                <a href="{% url 'users:profile' %}"
                                   class="btn btn-outline-secondary me-2 px-4 hover-shadow">Отмена</a>
                                <button type="submit" class="btn btn-primary px-4 hover-shadow">Сохранить изменения
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block footer %}
    {% include "footer.html" %}
{% endblock %}

{% block script %}
    {#<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"#}
    {#        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"#}
    {#        crossorigin="anonymous"></script>#}
    <script src="../../staticfiles/js/bootstrap.bundle.min.js"></script>
{% endblock %}